{{#bs-modal open=modalHelp  header=false as |modal|}}
   {{#modal.header}}
     <h4 class="modal-title">Help</h4>
   {{/modal.header}}
   {{#modal.body}}
    {{#if session.isAuthenticated}}
      <strong>Vm tab</strong>
      <ul>
        <li>See your vms launched</li>
        <li>Get uris and credentials</li>
        {{#if isPM}}<li>Launch a new vm</li>{{/if}}
      </ul>
      {{#if isDev}}
      <strong>Project tab</strong>
      <ul>
        {{#if isAdmin}}<li>Create / Modify / Delete a project</li>{{/if}}
        <li>List of your projects</li>
        <li>Get the path for git access to the project</li>
      </ul>
      {{/if}}

      {{#if isAdmin}}
      <strong>Brand tab</strong>
      <ul>
        <li>Create / Modify / Delete a brand</li>
      </ul>
      {{/if}}

      {{#if isLead}}
      <strong>User tab</strong>
      <ul>
        {{#if isAdmin}}<li>Create / Modify / Delete an user</li>{{/if}}
        <li>User List associated with your projects</li>
      </ul>
      {{/if}}

      <strong>Your profile</strong>
      <ul>
        <li>Edit your user settings</li>
      {{#if isDev}}
        <li>Manage your ssh keys</li>
        <li>Download Openvpn client files</li>
      {{/if}}
      </ul>

      {{#if isDev}}
      <strong>NextDeploy tools</strong>
      <ul>
        <li>NextDeploy Cli, copy/paste this line into your terminal<br><pre>curl -sSL http://cli.nextdeploy.io/ | bash</pre></li>
      </ul>
      {{/if}}
    {{/if}}
  {{/modal.body}}
 {{/bs-modal}}
