<div class="control-label col-sm-3 col-xs-4">
  <a {{action "forgotPassword" email password}} href="">forgot password</a>
</div>

{{#bs-modal open=modalForgot body=false footer=false header=false as |modal|}}
   {{#modal.header}}
     <h4 class="modal-title">Forgot Password</h4>
   {{/modal.header}}
   {{#modal.body}}
    {{#if emailSend}}
      <b>An email is sending to your Inbox*. Please check this last one and your spam inbox too.</b><br><br>
      *Only if you have a valid record
    {{else}}
      {{#if errorMail}}
        <b>Please fill the "Email Address" field</b>
      {{else}}
        {{#if errorPass}}
          <b>Only fill the "Email Address" field.<br/>The password field must be empty.</b>
        {{else}}
          <b>Email is sending ...</b>
        {{/if}}
      {{/if}}
    {{/if}}
  {{/modal.body}}
 {{/bs-modal}}
