{{#bs-accordion selected=0}}
  {{#if isImport}}
  {{#bs-accordion-item value="1" title="Import Features"}}
  !!! When you start an import , all data (assets and database) of the vm is overwritten by those hosted in the FTP repository.<br/><br/>
      <div class="form-group">
      {{x-toggle toggle='agreeImport'}}<label class="control-label togglealign">i understand risks and i want make an import of fresh datas</label><br/> {{#if okImport}}<button {{action 'importIO'}} class="btn btn-success">Import !</button><br/>{{/if}}</div><br/>
  {{/bs-accordion-item}}
  {{/if}}
  {{#bs-accordion-item value="2" title="Export Features"}}
  Export to the FTP repository datas and assets of this vm for branchs below<br/><br/>
      <div class="form-group">
        <div class="control-label col-sm-4">
        {{#power-select-multiple
          options=branchs
          selected=export_branchs
          placeholder="Targets for export"
          dropdownClass="inmodal"
          onchange=(action 'changeProperty' 'export_branchs')
          as |branch|
        }}
          {{branch}}
        {{/power-select-multiple}}
        </div>
        {{#if export_branchs}}
        <div class="control-label col-sm-2">
          <button {{action 'exportIO'}} class="btn btn-success">Export !</button>
        </div>
        {{/if}}
      </div>
  {{/bs-accordion-item}}
{{/bs-accordion}}