{{#each msg in hpmessages}}
<article class="note note-partial">
            <h2 class="note-title">{{{msg.title}}}</a></h2>
            <div class="note-excerpt">
                <p>{{{msg.message}}}</p>
            </div>
</article><br/>
{{/each}}