html {
  position: relative;
  min-height: 100%;
}

body{
  font-size: 16px;
}

video {
  width: 918px;
  height: 378px;
}

pre {
  word-wrap: normal;
  margin-bottom: 1em;
  padding: 5px;
  width: auto;
  overflow: auto;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 12px;
}

.blue {
  overflow-x: hidden;
  -webkit-font-smoothing:antialiased;
  border-radius:0;
  background-image:-webkit-linear-gradient(left, #42b9f1 0, #0958a2 100%);
  background-image:-o-linear-gradient(left, #42b9f1 0, #0958a2 100%);
  background-image:linear-gradient(to right, #42b9f1 0, #0958a2 100%);
  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42b9f1', endColorstr='#ff0958a2', GradientType=1)
}

.navbar-toggle .icon-bar {
  color: #fff !important;
}

.navbar-toggle .icon-bar,
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li a {
  color: #fff;
}

.navbar-inverse .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:hover {
  background-image: unset;
  background-repeat: unset;
  filter: unset;
  color: #fff;
  background-color: #0958a2;
  border-color: #0958a2;
}

.navbar-inverse .navbar-nav li a:hover {
	transition: 0.7s all linear;
	height: 100%;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  background-image: unset;
  background-repeat: unset;
  filter: unset;
  color: #0958a2 !important;
  background-color: #d9edf7 !important;
  border-color: #0958a2;
}

.navbar-toggle {
  background-image: inherit;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
     background-color: unset;
}

.ember-power-select-trigger, .ember-power-select-option {
  font-size: 14px;
}

.pages a:hover,
td a:hover,
.form-group a:hover {
  background-color: rgb(51,122,183);
  color: #fff;
  text-decoration: none;
}

/* Put your CSS here */
.ember-application {
  margin: 20px;

}

.container-fluid {
  max-width: 1440px;
}


/* make power-select visible into modal */
.inmodal {
  z-index: 1100;
}

.loadingModal {
  z-index: 11000;
}

/* manage rollover in table rows */
.table-hover tr:hover .tdinfo {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.table-hover tr td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.first-col {
  width: 45px;
}

.tdinfo {
  width: 25%;
}

.tduser {
  width: 170px;
}

.tddate {
  width: 85px;
}

.tdpopup {
  width: 55px;
}

.tduser .ember-power-select-trigger,
.tduser.ember-power-select-option {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-hover tr:hover .tdinfoh:hover {
  background-color: #327AB7;
}

.tdhref:hover, .tdhref:hover {
  background-color: #327AB7;
}

.tdhref:hover a {
  color: #d9edf7;
}

.tdhref:hover a:hover {
  color: #d9edf7;
}

.tdhref a {
  text-decoration: none;
  width:100%;
  display:block;
}

.info-branch-commit {
  width: 100%;
  display: block;
  position: relative;
}

.info-branch-commit .ember-view {
  position: absolute;
  margin: -8px;
  padding: 9px 8px;
  right: 0;
  left: 0;
}

tr:hover .info-branch-commit .ember-view {
  background-color: #d9edf7;
  border-color: #bcdff1;
  z-index: 1;
  color: #327AB7;
}

.tdinfo:hover .info-branch-commit .ember-view {
  background: #327AB7;
  color: #d9edf7;
}

a .nodec {
  text-decoration: none;
}

/* align text with x-toggle element */
.togglealign {
  vertical-align: top;
}

.glyphicon-refresh-animate {
  -moz-animation: spin-moz .7s infinite linear;
  -webkit-animation: spin-webkit .7s infinite linear;
  animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.buttons-row {
  display: inline-block;
  float: left;
  margin: 4px;
}

.pages {
  display: inline-block;
  font-size: 17px;
  float: right;
  margin: 6px 4px 4px 4px;
}

.navbottom {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 70px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /*width: calc(100% - 60px);*/
  height: 20px;
  line-height: 20px;
  /* background-color: #f5f5f5; */
  text-align:center;
  vertical-align: medium;
  font-size: 61%;
  /*margin-right: 30px;
  margin-left: 30px;*/
  border-radius: 5px;
}

iframe { border: none; }

.modal { overflow: auto !important; }

/* Desktop devices but window < 1060px */
@media all and (max-width: 1060px) {
  .tdinfo {
    width: 20%;
  }
}

/* Desktop devices but window < 960px */
@media all and (max-width: 990px) {
  .search-simplify{display:none !important;}
  .date-simplify{display:none !important;}
}

/* Desktop devices but window < 870px */
@media all and (max-width: 870px) and (min-device-width: 740px) {
  body {font-size: 15px;}
  .ember-power-select-trigger, .ember-power-select-option {
    font-size: 12px;
  }

  .tduser {
    width: 125px;
  }

  .simplify{
    display:none !important;
  }
}

/* Desktop devices but window < 600px */
@media all and (max-width: 620px) and (min-device-width: 740px) {
  .tduser {
    width: 115px;
  }

  .simplify {
    display:none !important;
  }

  .simplify-mobile {
    display:none !important;
  }

  video {
    width: 400px;
    height: auto;
  }
}

/* collapse menu, xs devices */
@media (max-width: 767px) {
  body {
    font-size: 13px;
  }

  .col-xs0 {
    display: none;
  }
    .ul-collapsed {
      width: 100%;
    }

    .navbar-nav li a {
      text-align: center;
      font-size: 18px;
    }

    .navbar-nav {
      margin: 0;
    }

    .navbar-brand-toggle {
      display: block;
    }

    .form-control {
      height: 1.75em;
    }

    .x-toggle-ios.medium {
      width: 3.60em;
      height: 1.75em;
    }

    .x-toggle-container.medium {
      width: 3.50rem;
    }
}

.x-toggle-container.medium {
     width: unset;
     font-size: unset;
}

.x-toggle-container {
    display: unset;
    justify-content: unset;
    /* height: auto; */
    padding: unset;
}

.x-toggle-component {
    display: unset;
    justify-content: unset;
}

@media (min-width: 768px) {
    .navbar-brand-toggle {
      display: none;
    }
}

@media (max-width: 991px) {
  .col-sm-0 {
    display: none;
  }
}

@media (max-width: 1199px) {
  .col-md-0 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .col-lg-0 {
    display: none;
  }
}

/* Mobile devices */
@media all and (max-device-width: 740px) {
  body {
    overflow-x: hidden;
  }

  .ember-application {
    margin: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-toggle {
    margin-right: 25px;
  }

  .navbar-brand-toggle {
    margin-left: 15px;
  }

  .tduser {
    width: 110px;
  }

  .tdpopup {
    width: 45px;
  }

  .simplify {
    display:none !important;
  }

  .simplify-mobile {
    display:none !important;
  }

  video {
    width: 300px;
    height: auto;
  }

  .navbottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
  }
}

/* Hide Custom mobile block in desktop devices */
@media all and (min-device-width: 740px) {
  .simplify-inverse{display:none !important;}
}

/* Large screen */
@media all and (min-width: 1400px) {
  .tdinfo {
    width: 36%;
  }

  .tduser {
    width: 180px;
  }

  .tdpopup {
    width: 65px;
  }
}

@media all and (min-width: 1440px) {
  .navbottom {
    width: 1410px;
  }
}

/* force portrait orientation for mobile */
@media (orientation: landscape) and (max-device-width: 740px) {
  html {
      transform: rotate(-90deg);
      transform-origin: left top;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
}
