html {
  position: relative;
  min-height: 100%;
}

body{
  font-size: 16px;
}

video {
  width: 918px;
  height: 378px;
}

@media all and (max-device-width: 420px) {
  body {font-size: 11px;}
  .simplify{display:none;}
  video {
    width: 401px;
    height: 165px;
  }
}

@media all and (max-width: 740px) {
  body {font-size: 11px;}
  .simplify{display:none;}
}

@media all and (min-device-width: 420px)  {
  .simplify-inverse{display:none;}
}

/* Put your CSS here */
.ember-application {
    margin: 20px;
}

/* make power-select visible into modal */
.inmodal {
  z-index: 1100;
}

.loadingModal {
  z-index: 11000;
}

/* manage rollover in table rows */
.table-hover tr:hover .tdinfo {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
}

.tdinfo {
  width: 23%;
}

.table-hover tr:hover .tdinfoh:hover {
  background-color: #327AB7;
}


.tdhref:hover, .tdhref:hover {
  background-color: #327AB7;
}

.tdhref:hover a {
  color: #d9edf7;
}

.tdhref:hover a:hover {
  color: #d9edf7;
}

.tdhref a {
  text-decoration: none;
  width:100%;
  display:block;
}

a .nodec {
  text-decoration: none;
}

/* align text with x-toggle element */
.togglealign {
  vertical-align: top;
}

@media all and (min-width: 1000px) {
  .tdinfo {
    width: 21%;
  }
}

@media all and (min-width: 1400px) {
  .tdinfo {
    width: 19%;
  }
}

@media all and (min-width: 1600px) {
  .tdinfo {
    width: 17%;
  }
}

@media all and (min-width: 2000px) {
  .tdinfo {
    width: 15%;
  }
}

.glyphicon-refresh-animate {
    -moz-animation: spin-moz .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
    animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 20px;
  line-height: 20px;
  background-color: #f5f5f5;
  text-align:center;
  vertical-align: medium;
  font-size: 61%;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 5px;
}

.ember-power-select-trigger, .ember-power-select-option {
  font-size: 14px;
}

iframe { border: none; }