html {
  position: relative;
  min-height: 100%;
}

body{
  font-size: 16px;
  /*display: flex;
  justify-content: space-between;*/
}

video {
  width: 918px;
  height: 378px;
}

.blue {
  overflow-x: hidden;
  -webkit-font-smoothing:antialiased;
  border-radius:0;
  background-image:-webkit-linear-gradient(left, #42b9f1 0, #0958a2 100%);
  background-image:-o-linear-gradient(left, #42b9f1 0, #0958a2 100%);
  background-image:linear-gradient(to right, #42b9f1 0, #0958a2 100%);
  background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42b9f1', endColorstr='#ff0958a2', GradientType=1)
}

.navbar-toggle .icon-bar {
  color: #fff !important;
}

.navbar-toggle .icon-bar,
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav li a {
  color: #fff;
}

.navbar-default .navbar-nav li a:hover {
  background-image: unset;
  background-repeat: unset;
  filter: unset;
  color: #fff;
  background-color: #0958a2;
  border-color: #0958a2;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  background-image: unset;
  background-repeat: unset;
  filter: unset;
  color: #0958a2 !important;
  background-color: #d9edf7 !important;
  border-color: #0958a2;
}

.navbar-toggle {
  background-image: inherit;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
     background-color: unset;
}

.ember-power-select-trigger, .ember-power-select-option {
  font-size: 14px;
}

.pages a:hover,
td a:hover {
  background-color: rgb(51,122,183);
  color: #fff;
  text-decoration: none;
}

/* Put your CSS here */
.ember-application {
  margin: 20px;

}

.container-fluid {
  max-width: 1440px;
}


/* make power-select visible into modal */
.inmodal {
  z-index: 1100;
}

.loadingModal {
  z-index: 11000;
}

/* manage rollover in table rows */
.table-hover tr:hover .tdinfo {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
  overflow: unset;
  text-overflow: unset;
  white-space: unset;
}

.table-hover tr td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.first-col {
  width: 45px;
}

.tdinfo {
  width: 25%;
}

.tduser {
  width: 170px;
}

.tddate {
  width: 85px;
}

.tdpopup {
  width: 55px;
}

.tduser .ember-power-select-trigger,
.tduser.ember-power-select-option {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-hover tr:hover .tdinfoh:hover {
  background-color: #327AB7;
}

.tdhref:hover, .tdhref:hover {
  background-color: #327AB7;
}

.tdhref:hover a {
  color: #d9edf7;
}

.tdhref:hover a:hover {
  color: #d9edf7;
}

.tdhref a {
  text-decoration: none;
  width:100%;
  display:block;
}

.info-branch-commit {
  width: 100%;
  display: block;
  position: relative;
}

.info-branch-commit .ember-view {
  position: absolute;
  margin: -8px;
  padding: 9px 8px;
  right: 0;
  left: 0;
}

tr:hover .info-branch-commit .ember-view {
  background-color: #d9edf7;
  border-color: #bcdff1;
  z-index: 1;
  color: #327AB7;
}

.tdinfo:hover .info-branch-commit .ember-view {
  background: #327AB7;
  color: #d9edf7;
}

a .nodec {
  text-decoration: none;
}

/* align text with x-toggle element */
.togglealign {
  vertical-align: top;
}

.glyphicon-refresh-animate {
  -moz-animation: spin-moz .7s infinite linear;
  -webkit-animation: spin-webkit .7s infinite linear;
  animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

.buttons-row {
  display: inline-block;
  float: left;
  margin: 4px;
}

.pages {
  display: inline-block;
  font-size: 17px;
  float: right;
  margin: 6px 4px 4px 4px;
}

.navbottom {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 70px);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /*width: calc(100% - 60px);*/
  height: 20px;
  line-height: 20px;
  /* background-color: #f5f5f5; */
  text-align:center;
  vertical-align: medium;
  font-size: 61%;
  /*margin-right: 30px;
  margin-left: 30px;*/
  border-radius: 5px;
}

iframe { border: none; }

.modal { overflow: auto !important; }

/* Desktop devices but window < 1060px */
@media all and (max-width: 1060px) {
  .tdinfo {
    width: 20%;
  }
}

/* Desktop devices but window < 960px */
@media all and (max-width: 990px) {
  .search-simplify{display:none !important;}
  .date-simplify{display:none !important;}
}

/* Desktop devices but window < 870px */
@media all and (max-width: 870px) and (min-device-width: 740px) {
  body {font-size: 15px;}
  .ember-power-select-trigger, .ember-power-select-option {
    font-size: 12px;
  }

  .tduser {
    width: 125px;
  }

  .simplify{
    display:none !important;
  }
}

/* Desktop devices but window < 600px */
@media all and (max-width: 620px) and (min-device-width: 740px) {
  body {
    font-size: 13px;
  }

  .ember-power-select-trigger, .ember-power-select-option {
    font-size: 11px;
  }

  .tduser {
    width: 115px;
  }

  .simplify {
    display:none !important;
  }

  .simplify-mobile {
    display:none !important;
  }
}

/* Mobile devices */
@media all and (max-device-width: 740px) {
  body {
    font-size: 13px;
  }

  .ember-application {
    margin: 0;
  }

  .container-fluid {
    padding: 0;
  }

  .navbar-toggle {
    margin-right: 25px;
  }

  .ember-power-select-trigger, .ember-power-select-option {
    font-size: 11px;
  }

  .tduser {
    width: 110px;
  }

  .tdpopup {
    width: 45px;
  }

  .simplify {
    display:none !important;
  }

  .simplify-mobile {
    display:none !important;
  }

  video {
    width: 401px;
    height: 165px;
  }

  .navbottom {
    position: absolute;
    bottom: 40px;
    width: 100%;
  }
}

@media all and (min-device-width: 740px) {
  .simplify-inverse{display:none !important;}
}

@media all and (min-width: 1400px) {
  .tdinfo {
    width: 36%;
  }

  .tduser {
    width: 180px;
  }

  .tdpopup {
    width: 65px;
  }
}

@media all and (min-width: 1440px) {
  .navbottom {
    width: 1410px;
  }
}
