<div class="container-fluid">
{{application-menu search=search showSearch=showSearch}}
{{outlet}}

  <!-- Footer -->
  <br/><br/>
  <footer class="footer">
      <div>&copy;2017 Eric Fehr&nbsp;-&nbsp;<a href="http://nextdeploy.io" target="_blank">NextDeploy</a>&nbsp; v1.9.1</div>
  </footer>
</div>
