{{#bs-modal open=true header=false footer=false body=false autoClose=false as |modal|}}
  {{#modal.header closeButton=false}}
     <h4 class="modal-title">An Error is occured</h4>
  {{/modal.header}}
  {{#modal.body}}
    It was caused by an authentication error, a session expiration, an internet connection issue, a resource temporaly unavailable, or other reason like a bug<br>
    Please <a href="#" {{action 'invalidateSession'}}>click here</a> to reconnect and try again your request.
  {{/modal.body}}
{{/bs-modal}}
