{{#bs-modal header=false footer=false body=false autoClose=false as |modal|}}
   {{#modal.header closeButton=false}}
     <div class="text-center"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</div>
   {{/modal.header}}
{{/bs-modal}}
